/* #grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "todos detail";
}

#todo-list {
    grid-area: todos;
}

#detail {
    grid-area: detail;
} */

#detail {
    margin-top: 20px;
}